/* Add CSS Styling */

.odd {
    background-color: #F3ABA9;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.third {
    font-size: 24px;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

#fourth {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}