/* Add CSS Styling */

.odd {
    background-color: #F3ABA9;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.third {
    font-size: 34px;
}

#second {
    color: #0000ff;
    font-size: 36px;
}