/* Add CSS Styling */

.dark, .light {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.dark {
    color: white;
    background-color: black;
}

.light {
    background-color: yellow;
}