body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-bottom: 8px; 
  /* border-top: 20px solid white; */
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  margin-bottom: 8px;
  /* border-bottom: 10px solid white; */
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto ;
  padding: 8px 24px; 
}